/*Meniu de navigare, slogan si footer*/
@font-face {
  font-family: "Buffied-GlqZ";
  src: url("fonts/Buffied-GlqZ.ttf") format("truetype");
}

.bg-custom {
  background-color:  #000000; 
}

.navbar-brand {
  font-family: "Buffied-GlqZ", sans-serif; 
  font-size: 40px;
  color: #780000 !important;
}

.bg-custom-header {
  background-color: #000000; 
  color: #660000 !important; 
}

.motto {
  color: #4d4b4b !important; 
}

footer.custom-footer {
  background-color: #000000 !important;
  color: #660000 !important;
}

/*Butoane*/
.btn-primary {
  background-color: #29293d; 
  border-color: #29293d;
 
}  

.btn-primary:hover {
  background-color:  #3d3d5c; 
  border-color:  #3d3d5c;
} 

.btn-remove-from-cart {
  background-color: #4d0000; 
  border-color: #4d0000; 
  margin-bottom: 5px;
}

.btn-remove-from-cart:hover {
  background-color: darkred; 
  border-color: darkred; 
}

.btn-secondary {
  background-color: #262626;
  border-color: #262626;
}

.btn-secondary:hover {
  background-color: #595959; 
  border-color: #595959;
}

.btn-add-to-cart {
  margin-bottom: 5px; 
}


body {
  background-color: #101010;
}

.card {
  background-color: #cbcbcb;
}

/*-----------------------------------  
	Cart items list
-----------------------------------*/

.col-md-7.col-sm-12{
	padding-left: 50px ;
	margin-bottom: 72px;
}

.row{
	box-shadow: 0 1px 0 #e1e5e8;
	padding-bottom :0;
	padding-left: 15px;
	background-color: #101010;
	margin-bottom: 11px;
}

.row span{
	padding: 20px 0 6px 0;
}

/*Checkout button*/

#checkout-btn {
  background-color: #3d3d5c !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  border-radius: 5px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

#cart-summary {
  background-color: #101010 !important;
  padding: 20px;
  min-height: 100%;
}

.btn-custom:hover {
  background-color: #d32f2f;
}

#total-header {
  font-weight: bold;
  color: #cbcbcb !important;  
  font-size: 24px; 
  background-color: #262626 !important;
}

#cart-body {
  background-color: #cbcbcb !important;
  padding: 20px;
  min-height: 100%;
}


#shopping-cart {
  color: #cbcbcb !important;
  background-color: #262626 !important;
}

#cart-items li {
  background-color: #cbcbcb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
